<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nurainunapps">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NURAINUNApps">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RS"></activity>
        <activity android:name=".RSAwalBross"></activity>
        <activity android:name=".RSEkaHospital"></activity>
        <activity android:name=".RSJiwaTampan"></activity>
        <activity android:name=".RSTabrani"></activity>
        <activity android:name=".Polisi"></activity>
        <activity android:name=".PoldaPekanbaru"></activity>
        <activity android:name=".PolrestaPekanbaru"></activity>
        <activity android:name=".PolsekPekanbaruKota"></activity>
        <activity android:name=".PolsekTampan"></activity>
        <activity android:name=".Supermarket"></activity>
        <activity android:name=".KasSwalayan"></activity>
        <activity android:name=".HypermartMallSka"></activity>
        <activity android:name=".IonSwalayan"></activity>
        <activity android:name=".PlanetSwalayanMarpoyan"></activity>
        <activity android:name=".Sekolah"></activity>
        <activity android:name=".SDN79PKU"></activity>
        <activity android:name=".SDN80PKU"></activity>
        <activity android:name=".SmaN4PKU"></activity>
        <activity android:name=".SmaDharmaYudha"></activity>


    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>